* {
    font-family: sans-serif;
}

body {
    height:100%;
    background: url("../img/background.jpg");
    background-size: cover;
}

header {
    width: 100%;
    height: 12vw;
    background: rgba(0, 0, 0, 0.75);

}

header>div {
    float: left;
    width: 10vw;
    height: 10vw;
    font-size: 10vw;
    color: white;
}

header>:nth-child(2) {
    height: 100%;
    float: left;
}

header>:nth-child(2)>h1 {
    margin-left: 1vw;
    margin-top: 0.5vw;
    font-size: 5vmin;
    color: white;
    font-family: sans-serif;
}

header>:nth-child(2)>h2 {
    font-size: 4vmin;
    margin-left: 1vw;
    color: white;
    font-family: sans-serif;
}

header>:nth-child(3)>nav>img {
    float: right;
    height: 8vw;
    width: 8vw;
}

header>section:first-child * {
    float: left;
}



header>:nth-child(3)>img:hover nav{
    display: block;
}

nav ul {
    display: none;
    float: left;
    width: 100%;
    position: absolute;
    margin-top: 12vw;
    color: white;
}

nav ul li {
    height: 20vw;
    display: block;
    position: relative;
    float: left;
    width: 100%;;
    text-align: center;
    background: black;
    font-family: sans-serif;
}

nav ul li:hover {
    background: white;
    color: black;
    cursor: pointer;
}

nav ul li p {
    float: left;
    width: 60%;
    height: 60%;
    margin-top: 4%;
    margin-left: 20%;
    border-bottom: .25vw solid white;
}

nav:hover ul {
    display: block;
}

main {
    width: 100%;
    height: 50em;
    display: none;
    background: rgba(0, 0, 00, 0.4);
}

main section {
    float: left;
    margin-top: 8vw;
    width: 90%;
    margin-left: 5%;
    background: rgba(0, 0, 0, 0.5);
    color: ghostwhite;
}

#default {
    display: block;
}

#slider>span {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 7vw;
    display: block;
}



#slider>span div {
    width: 20vw;
    height: 20vw;
    float: left;
    font-size: 18vw;

}



#slider>ul {
    float: left;
    width: 40%;
    margin-left: 30%;
    height: 5vw;
    display: none;

}

#slider>ul>li {
    float: left;
    position: relative;
    display: inline-block;
    width: 1vw;
    height: 1vw;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 20px;
    background: whitesmoke;
}

@media only screen and (min-width: 640px) {

    header {
        height: 3.5vw;
        position: absolute;
        margin-top: 2vw;
        color: white;
    }

    header > div {
        height: 3.5vw;
        width: 3.5vw;
        font-size: 3.5vw;
    }

    header > :nth-child(3) > nav > img {
        display: none;
    }

    header>:nth-child(2)>h1 {
        font-size: 3vmin;
    }

    header>:nth-child(2)>h2 {
        font-size: 2vmin;
    }

    nav ul {
        width: 75%;
        display: block;
        position: static;
        margin-top: 0;
        margin-left: 2vw;
    }

    nav ul li {
        height: 3vw;
        display: inline-block;
        float: left;
        width: 25%;
        margin-top: 0;
        text-align: center;
        outline: none;
        background: none;
    }

    #slider>:nth-child(2), #slider>:nth-child(3) {
        display: none;
    }

    #slider ul {
        display: block;
    }
}