body {
    height:100%;
    background: lightpink;
}

header {
    width: 100%;
    height: 12vw;
    background: yellow;
}

header>img {
    float: left;
    width: 8vw;
    height: 8vw;
}

header>:nth-child(2) {
    float: left;
}

header>:nth-child(2)>h1 {
    font-size: 3.5vh;
}

header>:nth-child(2)>h2 {
    font-size: 2.5vh;
}

header>:nth-child(3)>nav>img {
    float: right;
    height: 8vw;
    width: 8vw;
}

header>section:first-child * {
    float: left;
}



header>:nth-child(3)>img:hover nav{
    display: block;
}

nav ul {
    display: none;
    float: left;
    width: 100%;
    background: pink;
    position: absolute;
    margin-top: 12vw;
}

nav ul li {
    height: 20vw;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0.5vh;
    text-align: center;
    outline: 1vw solid black;
}

nav ul li p {
    width: 100%;
    height: 90%;
    margin-top: 5%;
}

nav:hover ul {
    display: block;
}

main {
    width: 100%;
    height: 50em;
    display: none;
    background: cornflowerblue;
}

#default {
    display: block;
}

@media only screen and (min-width: 640px) {

    header {
        height: 6vw;
    }

    header>img {
        height: 4vw;
        width: 4vw;
    }

    header>:nth-child(3)>nav>img {
        display: none;
    }

    nav ul{
        display: block;
    }
}

